@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
*{font-family: 'JetBrains Mono', monospace;}
body{
  width: 100vw;
  height: 100vh;
  background-color: rgba(4, 65, 0, 0.87);
}